body{font-family:"Microsoft Yahei",Tahoma;background:#E3E8EC url(/static/img/bg.gif) repeat;}

#navi_comt{margin-left:-240px;left:50%;top:-250px;font-size:12px;color:#999;width: 435px;box-shadow:inset 0 -1px 0 white,0 1px 6px rgba(0, 0, 0, .3);border-bottom:2px solid #EFEBDA;background:url(/static/img/tips_bg.gif) 0 0 repeat;padding: 15px 30px 15px 15px;border-bottom-left-radius: 5px;border-bottom-right-radius:5px;position:fixed;z-index:4;border-bottom-right-radius:5px;}
#navi_comt textarea{line-height: 24px;font-size: 12px;margin-top:5px;height:145px;font-family:"Microsoft Yahei",Tahoma;background:url(/static/img/comt.png);border:0 none;outline:none;resize:none;width:100%;overflow-y:hidden;height:150px;}
#navi_comt input{padding:8px 12px;float:right;font-family:"Microsoft Yahei",Tahoma;line-height:28px;border:1px solid #DDD;background:#F0EDED;padding:0 15px;border-radius:5px;font-size:13px;color:#CB2027;cursor:pointer;}

.from a{opacity: 0.17;}
.from a:hover{opacity:0.47;}
.oauth a{opacity:1;}
.from {display:inline-block;margin:0 0 -2px 0px;}
.from a{background:url(/static/img/sns2.png) no-repeat;display:inline-block;text-indent:-9999em;width:16px;height:16px;}
.from.twitter a{background-position:0 -16px;}
.from.sina a{background-position:0 -32px;}
.from.douban a{background-position:0 -48px;}
.from.wordpress a{background-position:0 -64px;}
.from.thepast a{background-position:0 -80px;}
.from.renren a{background-position:0 -96px;}
.from.instagram a{background-position:0 -112px;}

.recollect {display:inline-block;margin:0 0 -2px 0px;}
.recollect a{opacity: 0.47;}
.recollect a:hover{opacity:0.67;}

.time{font-size:10px;color:#999;}

/*sidebar*/
#sidebar{float:left; width:268px; margin-top:5px; margin:0;}
    .side_box{padding:15px;background-color:white;box-shadow:0 1px 3px rgba(34, 25, 25, .4);margin-bottom:28px;}
    #user_info .avatar{float:left;margin-right:15px;width:64px;height:64px;}
    #user_info .name{margin:0 6px 2px 4px;}
    .info_profile{border-bottom: 1px solid #F5F2F2;margin-left:-15px;margin-right:-15px;padding:0 15px 15px;}
    .info_inner{background:#FFFEF0;margin:0 -15px -15px;padding:10px 15px;line-height:22px;word-wrap:break-word;}

#new_bar{margin-top:20px;margin-left:267px;border-bottom:3px double rgba(34, 25, 25, .1);padding-bottom:8px;color:#6E3939;font-size:20px;}
#rightbar{margin:0;width:901px;}


#login_btn{display:inline-block;line-height:28px;border:1px solid #DDD;padding:0 15px;border-radius:5px;font-size:16px;cursor:pointer;margin-top:8px;color: #CB2027;}
#login_off,#comts_off{display:block;position:absolute;width:20px;height:20px;right:5px;top:5px;background:url(/static/img/close.gif) no-repeat 0 0;cursor:pointer;}
#login_off:hover,#comts_off:hover{background-position:0 -30px}
#login_off:active,,#comts_off:hover{background-position:0 -60px}

/*navi_login*/
#navi_login{margin-left:-174px;left:50%;top:-165px;font-size:12px;color:#999;width:368px;box-shadow:inset 0 -1px 0 white,0 1px 6px rgba(0, 0, 0, .3);border-bottom:2px solid #EFEBDA;background:url(/static/img/tips_bg.gif) 0 0 repeat;height: 150px;padding: 5px 22px;border-bottom-left-radius: 5px;border-bottom-right-radius:5px;position:fixed;z-index:4;border-bottom-right-radius: 5px;}
#navi_login h3{font-size:18px;font-weight:400;color: #666;text-align:center;}
.login_head{padding:18px 0px;border-bottom:1px solid #F6F4EE;}
.login_connent{padding:2px 5px 2px 5px;}

#navi_login ul{display:inline-block;}
#navi_login ul li{margin-right:5px;}

.login{list-style:none;float:left;}
.login a{background:url(/static/img/login.png) no-repeat;display:block;margin:4px 0 0 10px;width:38px;height:38px;text-indent:-9999em;opacity:0.35;}
.login a:hover{opacity:1;}
.login.sina a{background-position:0 -38px !important;}
.login.douban a{background-position:0 -76px !important;}
.login.twitter a{background-position:0 -114px !important;}
.login.renren a{background-position:0 -152px !important;}
.login.instagram a{background-position:0 -190px !important;}



/*main*/
.home_show{width:1141px;}
.loading{display:none;}
.date,.settings h2{position:relative;min-height:24px;margin:0 0 15px;padding:0px 0 18px;text-shadow:0 1px rgba(255, 255, 255, .9);border-bottom: 3px double rgba(34, 25, 25, .1);color: #6E3939;font-size:20px;}

.date p,#new_bar p{color:#999;font-size:12px;margin-top:6px;}
.show{position:relative;background:#FFF;width:190px;overflow:hidden;float:left;background-color:white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);margin:0 20px 20px 0;padding:15px 15px 0;color:#666;}

.show img{max-width:190px;}
.show p{margin-bottom:10px;}
.show_info{color:#999;border-top:1px solid #F5F2F2;background:#FAFAFA;position:relative;margin:10px -15px 0;padding: 10px 15px 5px;}
.show_info p{margin-bottom: 5px;font-size:11.5px;}
.show_info .avatar{float:left;margin:2px 8px 0px 0px;width:30px;height:30px;}
.show .info .name{color:#FFF;clear:right;display:block;margin-top:6px;}
.show.nopic .show_info{padding:5px 5px;}


/*note*/
#note{background:url(/static/img/note.png) repeat-y;margin-bottom:15px;}
#create{font-family:"Microsoft Yahei",Tahoma;line-height:38px;padding-left:5px;margin-left:40px;border:0 none;border-left:3px double #6E3939;width:900px;background:none;resize:none;outline:none;font-size:14px;font-weight:400;height:420px;overflow-y:hidden;}
::-webkit-input-placeholder { color:#999;font-size:15px;}
#navi_comts::-webkit-input-placeholder{font-size:12px;}
input:-moz-placeholder {color:#999;font-size:15px;}
.now_date{text-align:right; padding-bottom:5px;}
.created{margin:15px auto;}
.created input{padding:8px 12px;float:right;font-family:"Microsoft Yahei",Tahoma;line-height:28px;border:1px solid #DDD;background:#F0EDED;padding:0 15px;border-radius:5px;font-size: 14px;color:#CB2027;cursor:pointer;}
.message{padding:10px 25px 0 40px;line-height:24px;}

#footer{margin-top:1.5em;text-align:center;color:#8C7E7E;line-height:1.5em;border:double rgba(34, 25, 25, .14);padding:4px 0;
border-width: 3px 0 3px 0;width:861px;margin:0 auto;font-size:13px;margin-bottom:20px;}

#past_text p{text-align:center;color:#999;width:860px;margin:20px auto;line-height:12px;font-size:13px;}

/*settings*/
.settings h2{margin-bottom:0;}
#settings li{margin:0;padding:15px 0;color:#8C7E7E;text-shadow:0 1px rgba(255, 255, 255, .9);border-top: 1px solid rgba(255, 255, 255, .7);border-bottom:1px solid rgba(34, 25, 25, .1);float:left;width:100%;display: block;font-size:21px;font-weight:300;}
#settings li:last-child {border-bottom:3px double rgba(34, 25, 25, .1);}
#settings label{float:left;width:150px;padding-top:7px;vertical-align:top;display:inline-block;line-height:1.4em;font-size: 18px;}
#settings .Right{float:left;font-size:15px;line-height:34px;}
#settings .Right input{margin-left:30px;}
#settings .Right span{font-size:13px;}
#settings .Right label{float:none;display:block;width:auto;padding:4px 0;font-size:13px;border-width:0;cursor: pointer;}
#settings .Right li{border:0 none;width:auto;display:inline-block;}
#settings .Right li a{float:left;margin:0 0 0 30px;}
#settings input[type="text"],#settings input[type="password"],#settings textarea{-moz-box-sizing:border-box;background:none repeat scroll 0 0 #FFFFFF;border:1px solid #A4A2A2;border-radius:6px 6px 6px 6px;box-shadow:0 1px rgba(34, 25, 25, 0.15) inset,0 1px rgba(255, 255, 255, 0.8);color:#221919;display:inline-block;font-size:18px;font-weight:300;line-height:1.4;padding:6px 12px;transition: all 0.08s ease-in-out 0s;margin-right:12px;}
#settings strong{border:1px solid #BBB;border-radius:3px;display:inline-block;padding:8px 15px;font-size:14px;}
#email{margin-right:5px;}
#settings input[type="submit"]{font-family:"Microsoft Yahei",Tahoma;margin:40px 0 0 180px;float:none;border:1px solid #BBB;border-radius:3px;padding:8px 15px;font-size:14px;color:#CB2027;cursor:pointer;}

.clear{clear:both;}

