html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font:100%/1 "Microsoft Yahei",Tahoma; }
body{font-family:"Microsoft Yahei",Tahoma;background-image:url(/static/img/main.png);color:#333;text-shadow:0px 1px 0px white;}
ul li{list-style:square;}
ol li{margin:0px 0px 0px 1.5em;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;font-weight:normal;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
a:link,a:visited,a:active{color:#8C7E7E;text-decoration:none;}
a:hover{color:#4d5256;text-decoration:underline;}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;}

#site{width:960px;margin:0px auto 0px auto;}

#head{background-image:url(/static/img/head.png);box-shadow:0 0 4px rgba(0, 0, 0, 0.35);border-bottom: 1px solid #F0F0F0;height:80px;position:relative;z-index:1;}
#logo a{display:block;width: 412px;height: 80px;background-image:url(/static/img/logo.png);text-indent:-9999em;}

#navi {float:right;font-size:16px;color:#FFF;margin-top:30px;}
#navi ul{height:29px;}

.login{list-style:none;float:left;}
.login a{background:url(/static/img/login.png) no-repeat;display:block;margin:4px 0 0 10px;width:38px;height:38px;text-indent:-9999em;opacity:0.35;}
.login a:hover{opacity:1;}
.login.sina a{background-position:0 -38px;}
.login.douban a{background-position:0 -76px;}
.login.twitter a{background-position:0 -114px;}

.from{display:inline-block;margin:0 0 -2px 0px;}
.from a{background:url(/static/img/sns.png) no-repeat;display:inline-block;text-indent:-9999em;width:16px;height:16px;}
.from.twitter a{background-position:0 -16px;}
.from.sina a{background-position:0 -32px;}
.from.douban a{background-position:0 -48px;}

#content {
    width: 960px;
    margin: 0px auto 0px auto;
    padding: 12px 0px 30px 0px;
}

#news,#members{
    background:url(/static/img/new.gif);
    padding:18px;
    margin: 10px auto 32px 0px;
    border:1px solid #FFF;
    box-shadow:inset 1px 1px 4px #CCC;
    line-height:30px;
}
.timelines{
    /*background-color: #fff;*/
    background-color: #fff;
    border:1px solid #fff;
    line-height:30px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.timelines img{max-width:500px;}

#sidebar {
    float: left;
    width: 0px;
}
#rightbar {
    float: right;
    width: 272px;
    padding: 10px 0px 10px 10px;
}
#middlebar {
    margin: 0px 282px 32px 0px;
    padding: 10px;
}

#main{
    background-image: url("/static/img/members.png");
}

#news h2{font-weight:bold;font-size:19.5px;line-height:35px;}
#news p strong{border-bottom:1px dotted;}

#members{background:url(/static/img/members.png);padding:18px 0 0;}
.member{font-size:13.5px;width:188px;height:48px;float:left;margin: 0 25px 18px 24px;border:1px solid #FFF;box-shadow:0px 0px 2px #CCC;line-height:24px;overflow:hidden;background-color:rgba(170, 170, 170, 0.07);}
.avatar{width:48px;height:48px;float:left;}
.entry{margin-left:55px;}
.name{margin:0 6px 2px 4px;}
.name span{float:right;font-size:12px;color:#AAA;}

#footer{margin-top:1.5em;text-align:center;color:#8C7E7E;}

#navi_login{float:right;margin-top:20px;background:url(/static/img/mess.png);}
#navi_login .member{width:188px;height:48px;border: 1px solid #fff;box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.37);line-height:24px;overflow:hidden;background-color:rgba(255,255,255,0.2);margin:0}
#navi_login .from a{opacity: 0.17;}
#navi_login .from a:hover{opacity:0.47;}
#navi_login .from.oauth a{opacity:1;}

.month{font-size: 13px;margin:10px 0 25px;}
.month h2{font-size: 18px;font-weight:bold;}
.articles{margin: 10px 0;}
.articles li{line-height:14px;padding: 0px 0 0px 100px;list-style-type: none;border-top: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2;margin-bottom: -1px;}
.articles .day{}
.time{float:left;padding: 8px 20px;color:#999;margin-left: -100px;}
.message{line-height:18px;font-size: 13px;border-left: 1px solid #e2e2e2;}
.message span{font-size:11px;color:#999;margin-right:5px}
.message .text{margin-left: 5px;border-left: 1px solid #e2e2e2; padding: 8px 0 8px 30px;}
.message .text img{margin:5px 0;}
.message .from{color:#CCC;}


.mini_navi{
    background-color: #FFF;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    padding: 5px 10px 5px 10px; 
    font-size: 14px; 
    line-height: 18px;
    margin-left: 230px;
    text-align: center;

    color: #0C7823;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    font-weight: 500;

    width:500px;
}

.mini_navi a{
font-size: 14px;
color: #0C7823;
margin-left: 14px;
vertical-align: middle;
}

.sep20 {height:20px;}
.sep10 {height:10px;}
.sep5 {height:5px;}
.sep3 {height:3px;}

.box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    background-color: #fff;
    /*background-color: #fff;*/
    border: 1px solid #fff;
}
.glass {
    background-color: transparent;
    border: 1px solid transparent;
}

.box .inner, .glass .inner {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.box .highlighted {
    border-left: 3px solid #3c3;
    background-color: #f5f5f5;
}

.box .yellow {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    background-color: #ffffe2;
    border-top: 1px solid #ffffcc;
    -moz-border-radius: 0px 0px 6px 6px;
}

.box .cell {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.box .bar {
    font-size: 14px;
    line-height: 14px;
    color: #667;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    display: inline-block;
}
.bigger {
    font-size: 16px;
}

.fade { 
    color: #999;
}

.item_node {
    color: #778087;
    font-size: 13px;
    line-height: 13px;
    padding: 4px 10px 4px 10px;
    margin: 3px;
    background-color: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
}

.item_node:hover {
    text-decoration: none;
    background-color: #99a;
    color: #fff;
}

/* FORM */
form {
    display: inline;
    padding: none;
    margin: none;
}

.sl {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 320px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.sl:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}

.sls {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 120px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.sls:focus {
    border: 1px solid rgba(128, 128, 160, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(128, 128, 160, 0.5);
    outline: none;
}

.error{
    color:red;
}
.tip{
    color:blue;
}
