html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font:100%/1 "Microsoft Yahei",Tahoma; }
body{font-family:"Microsoft Yahei",Tahoma;background-image:url(/static/img/main.png);color:#333;text-shadow:0px 1px 0px white;}
ul li{list-style:square;}
ol li{margin:0px 0px 0px 1.5em;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;font-weight:normal;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
a:link,a:visited,a:active{color:#8C7E7E;text-decoration:none;}
a:hover{color:#4d5256;text-decoration:underline;}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;}

#site,#content{width:960px;margin:0 auto;}

#head{background-image:url(/static/img/head.png);box-shadow:0 0 4px rgba(0, 0, 0, 0.35);border-bottom: 1px solid #F0F0F0;height:80px;position:relative;z-index:1;}
#logo a{display:block;width: 412px;height: 80px;background-image:url(/static/img/logo.png);text-indent:-9999em;}

#navi {float:right;font-size:16px;color:#FFF;margin-top:30px;}
#navi ul{height:29px;}
.login{list-style:none;float:left;}
.login a{background:url(/static/img/login.png) no-repeat;display:block;margin:4px 0 0 10px;width:38px;height:38px;text-indent:-9999em;opacity:0.35;}
.login a:hover{opacity:1;}
.login.sina a{background-position:0 -38px;}
.login.douban a{background-position:0 -76px;}
.login.twitter a{background-position:0 -114px;}

.from{display:inline-block;margin:0 0 -2px 4px;}
.from a{background:url(/static/img/sns.png) no-repeat;display:inline-block;text-indent:-9999em;width:16px;height:16px;}
.from.twitter a{background-position:0 -16px;}
.from.sina a{background-position:0 -32px;}
.from.douban a{background-position:0 -48px;}

#content{margin-top:32px;}
#news,#members{background:url(/static/img/new.gif);padding:18px;margin-bottom:32px;border:1px solid #FFF;box-shadow:inset 1px 1px 4px #CCC;line-height:30px;}
#news h2{font-weight:bold;font-size:19.5px;line-height:35px;}
#news p strong{border-bottom:1px dotted;}

#members{background:url(/static/img/members.png);padding:18px 0 0;font-size:13.5px;}
.member{width:188px;height:48px;float:left;margin: 0 25px 18px 24px;border:1px solid #FFF;box-shadow:0px 0px 2px #CCC;line-height:24px;overflow:hidden;background-color:rgba(170, 170, 170, 0.07);}
.avatar{width:48px;height:48px;float:left;}
.entry{margin-left:55px;}
.name{margin:0 6px 2px 4px;}
.name span{float:right;font-size:12px;color:#AAA;}

#footer{margin-top:1.5em;text-align:center;color:#8C7E7E;}

