.markdown{padding-top:10px;padding-bottom:10px;}
.markdown{font-size:14px;line-height:1.6;}
.markdown>*:first-child{margin-top:0!important;}
.markdown>*:last-child{margin-bottom:0!important;}
.markdown a.absent{color:#c00;}
.markdown a.anchor{display:block;padding-left:30px;margin-left:-30px;cursor:pointer;position:absolute;top:0;left:0;bottom:0;}
.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6{margin:20px 0 10px;padding:0;font-weight:bold;-webkit-font-smoothing:antialiased;cursor:text;position:relative;}
.markdown h1 .mini-icon-link,.markdown h2 .mini-icon-link,.markdown h3 .mini-icon-link,.markdown h4 .mini-icon-link,.markdown h5 .mini-icon-link,.markdown h6 .mini-icon-link{display:none;color:#000;}
.markdown h1:hover a.anchor,.markdown h2:hover a.anchor,.markdown h3:hover a.anchor,.markdown h4:hover a.anchor,.markdown h5:hover a.anchor,.markdown h6:hover a.anchor{text-decoration:none;line-height:1;padding-left:0;margin-left:-22px;top:15%;}
.markdown h1:hover a.anchor .mini-icon-link,.markdown h2:hover a.anchor .mini-icon-link,.markdown h3:hover a.anchor .mini-icon-link,.markdown h4:hover a.anchor .mini-icon-link,.markdown h5:hover a.anchor .mini-icon-link,.markdown h6:hover a.anchor .mini-icon-link{display:inline-block;}
.markdown h1 tt,.markdown h1 code,.markdown h2 tt,.markdown h2 code,.markdown h3 tt,.markdown h3 code,.markdown h4 tt,.markdown h4 code,.markdown h5 tt,.markdown h5 code,.markdown h6 tt,.markdown h6 code{font-size:inherit;}
.markdown h1{font-size:28px;color:#000;}
.markdown h2{font-size:24px;border-bottom:1px solid #ccc;color:#000;}
.markdown h3{font-size:18px;}
.markdown h4{font-size:16px;}
.markdown h5{font-size:14px;}
.markdown h6{color:#777;font-size:14px;}
.markdown p,.markdown blockquote,.markdown ul,.markdown ol,.markdown dl,.markdown table,.markdown pre{margin:15px 0;}
.markdown hr{background:transparent url("https://a248.e.akamai.net/assets.github.com/images/modules/pulls/dirty-shade.png?643ff063") repeat-x 0 0;border:0 none;color:#ccc;height:4px;padding:0;}
.markdown>h2:first-child,.markdown>h1:first-child,.markdown>h1:first-child+h2,.markdown>h3:first-child,.markdown>h4:first-child,.markdown>h5:first-child,.markdown>h6:first-child{margin-top:0;padding-top:0;}
.markdown a:first-child h1,.markdown a:first-child h2,.markdown a:first-child h3,.markdown a:first-child h4,.markdown a:first-child h5,.markdown a:first-child h6{margin-top:0;padding-top:0;}
.markdown h1+p,.markdown h2+p,.markdown h3+p,.markdown h4+p,.markdown h5+p,.markdown h6+p{margin-top:0;}
.markdown li p.first{display:inline-block;}
.markdown ul,.markdown ol{padding-left:30px;}
.markdown ul li>:first-child,.markdown ol li>:first-child{margin-top:0;}
.markdown dl{padding:0;}
.markdown dl dt{font-size:14px;font-weight:bold;font-style:italic;padding:0;margin:15px 0 5px;}
.markdown dl dt:first-child{padding:0;}
.markdown dl dt>:first-child{margin-top:0;}
.markdown dl dt>:last-child{margin-bottom:0;}
.markdown dl dd{margin:0 0 15px;padding:0 15px;}
.markdown dl dd>:first-child{margin-top:0;}
.markdown dl dd>:last-child{margin-bottom:0;}
.markdown blockquote{border-left:4px solid #DDD;padding:0 15px;color:#777;}
.markdown blockquote>:first-child{margin-top:0;}
.markdown blockquote>:last-child{margin-bottom:0;}
.markdown table{padding:0;}
.markdown table tr{border-top:1px solid #ccc;background-color:#fff;margin:0;padding:0;}
.markdown table tr:nth-child(2n){background-color:#f8f8f8;}
.markdown table tr th{font-weight:bold;}
.markdown table tr th,.markdown table tr td{border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px;}
.markdown table tr th>:first-child,.markdown table tr td>:first-child{margin-top:0;}
.markdown table tr th>:last-child,.markdown table tr td>:last-child{margin-bottom:0;}
.markdown img{max-width:100%;}
.markdown span.frame{display:block;overflow:hidden;}
.markdown span.frame>span{border:1px solid #ddd;display:block;float:left;overflow:hidden;margin:13px 0 0;padding:7px;width:auto;}
.markdown span.frame span img{display:block;float:left;}
.markdown span.frame span span{clear:both;color:#333;display:block;padding:5px 0 0;}
.markdown span.align-center{display:block;overflow:hidden;clear:both;}
.markdown span.align-center>span{display:block;overflow:hidden;margin:13px auto 0;text-align:center;}
.markdown span.align-center span img{margin:0 auto;text-align:center;}
.markdown span.align-right{display:block;overflow:hidden;clear:both;}
.markdown span.align-right>span{display:block;overflow:hidden;margin:13px 0 0;text-align:right;}
.markdown span.align-right span img{margin:0;text-align:right;}
.markdown span.float-left{display:block;margin-right:13px;overflow:hidden;float:left;}
.markdown span.float-left span{margin:13px 0 0;}
.markdown span.float-right{display:block;margin-left:13px;overflow:hidden;float:right;}
.markdown span.float-right>span{display:block;overflow:hidden;margin:13px auto 0;text-align:right;}
.markdown code,.markdown tt{margin:0 2px;padding:0 5px;white-space:nowrap;border:1px solid #eaeaea;background-color:#f8f8f8;border-radius:3px;}
.markdown pre>code{margin:0;padding:0;white-space:pre;border:none;background:transparent;}
.markdown .highlight pre,.markdown pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px;}
.markdown pre code,.markdown pre tt{background-color:transparent;border:none;}
