body{
font-size:12px;
}

.member{
    font-size:13.5px;
    width:215px;
    height:48px;
    float:left;
    border:1px solid #FFF;
    margin:0 10px 5px 0;
    box-shadow:0px 0px 2px #CCC;
    line-height:24px;
    overflow:hidden;
    background-color:rgba(170, 170, 170, 0.07);
}
.member .avatar{
    width:48px;
    height:48px;
    float:left;
}
.member .avatar img{
    width:48px;
    height:48px;
}
.member .entry{
    margin-left:55px;
}
.member .name{
    margin:0 6px 2px 4px;
}
.member .name span{
    float:right;
    font-size:12px;
    color:#AAA;
}

.sep20 {height:20px;}
.sep10 {height:10px;}
.sep5 {height:5px;}
.sep3 {height:3px;}
.sep1 {height:1px;}

.box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

    background-color: #fff;
    /*background-color: #fff;*/
    border: 0.5px solid #F1EDED;
}
.box .cell {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #e2e2e2;
}
.box .bar {
    font-size: 14px;
    line-height: 14px;
    color: #667;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    display: inline-block;
}
.box .inner {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.the-center {
    margin:0 auto;
    text-align:center;
}

#timeline-container{
    width:901px;
    margin:20px auto;
}
