html {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 150%;
    border: 1px none;
    display: inline;
    width: auto;
    height: auto;
    white-space: normal;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

h1 {
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    -pdf-outline-level: 0;
}

h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    -pdf-outline-level: 1;
}

h3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    padding: 6px 0px 6px 0px;
    margin: 0px;
    -pdf-outline-level: 2;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    -pdf-outline-level: 3;
}



#Top {
    height: 40px;
    background-color: #F0F0F0;
    background-image: url("/static/img/bg_top_light.png");
}

.box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    background-color: #fff;
    border: 2px solid #fff;
}

.glass {
    background-color: transparent;
    border: 1px solid transparent;
}

.box .inner, .glass .inner {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.box .highlighted {
    border-left: 3px solid #3c3;
    background-color: #f5f5f5;
}

.box .yellow {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    background-color: #ffffe2;
    border-top: 1px solid #ffffcc;
    -moz-border-radius: 0px 0px 6px 6px;
}

.box .cell {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.box .bar {
    font-size: 14px;
    line-height: 14px;
    color: #667;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    display: inline-block;
}

a.node:link, a.node:visited, a.node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 3px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
}

a:hover {
    color: #4d5256;
    text-decoration: underline;
}

a.top:link, a.top:visited, a.top:active {
    color: #778087;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    font-weight: 500;
}

a.top:hover {
    color: #4d5256;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    font-weight: 500;
}

a.white:link, a.white:visited, a.white:active {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

a.white:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

a.black:link, a.black:visited, a.black:active {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

a.black:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

a.dark:link, a.dark:visited, a.dark:active {
    color: gray;
    text-decoration: none;
}

a.dark:hover {
    color: #385f8a;
    text-decoration: none;
}

.bigger {
    font-size: 16px;
}

.fade { 
    color: #999;
}

.snow {
    color: rgba(0, 0, 0, 0.15);
}

.tip {
    background-color: #F9F9F9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}

.content {
    font-size: 12px;
    line-height: 160%;
    color: #000;
    overflow:hidden;
    word-break: break-word;
}

img {
    max-width: 550px;
}


pre {
    white-space: pre;
}

blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

address,
blockquote,
body,
center,
dl,
dir,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
isindex,
menu,
noframes,
noscript,
ol,
p,
pre,
table,
th,
tr,
td,
ul,
li,
dd,
dt,
pdftoc {
    display: block;
}

