{% extends "layout.html" %}

{% block content_block %}
<div class="box">
    <div class="cell">
        <span class="bigger">About thePast.me | 个人杂志计划</span>
    </div>

    <div class="inner">

    <strong>开源项目：</strong>个人杂志计划

    <strong>一言概括之：</strong>“聚合你在互联网的一切，阅读 并 出版”

    <strong>目前在做的</strong>：定期聚合个人在豆瓣发布的日记、广播， twitter、新浪微博发布的内容，生成排版后的PDF。

    <div class="sep10"> </div>
    <strong>有了个人杂志计划，我们可以：</strong>
    将自己分散在互联网各处的文章、消息、状态聚合在一起，并有机会方便的搜索，应该还能定期收到一份精美排版的，讲述自己，记录自己的电子杂志，如果运气好的话，收到一本相应的纸质杂志也不是没有可能的。

    <div class="sep10"> </div>
    <strong>后续的工作:</strong>

    <ul>
        <li>信息去重 （比如，将豆瓣，微博，twitter的消息做去重）</li>
        <li>支持wordpress的文章同步（很多人有自己的独立blog，鼓励+支持）</li>
        <li>搜索 （搜索你的所有消息和文章）</li>
        <li>生成电子版个人杂志(生成PDF + 排版)  ［期待对这块有兴趣的朋友支持！！！］</li>
        <li>杂志出版（很期待这个，这样，大家就可以拿到一本属于自己，讲述自己的杂志了）</li>
        <li>支持有原则的聚合更多的内容（比如饭否...）</li>
    </ul>

    <div class="sep10"> </div>
    <strong>设计的一些原则:</strong>

    <ul>
        <li>不会做单独的用户注册功能（只允许使用第三方网站登录）</li>
        <li>不支持人人帐号登陆，也不会同步人人的user_timeline</li>
        <li>只专注阅读，不会支持从thepast.me发消息，发文章</li>
        <li>不会做用户关注，不会考虑社交，如果你觉得某个用户很有意思，那么请在v2ex关注他，并交流。（期待v2ex的个人介绍那里，以后会有http://thepast.me/user/xxx 那样的链接^^）</li>
    </ul>
    <span class="fade">ps：上面只是我的一些设计原则，既然项目是开源的，你可以按照你的想法，任意修改！</span>

    <div class="sep10"> </div>
    <strong>感谢：</strong>
    感谢v2ex和Project Babel，http://thepast.me 使用了v2ex的css！

    <div class="sep10"> </div>
    <strong>初衷：</strong>
    可能是年纪慢慢变大了，老有一种回过头去，看看自己走过的路的冲动，于是就开始慢慢做了thepast.me


    <strong>个人杂志计划主页：</strong> <a class="dark">http://thepast.me</a>
    在这里看我的页面：http://thepast.me/user/4
    
    <strong>项目地址：</strong>
    <a class="dark">https://github.com/laiwei/thepast</a>


    <span class="fade">期待有兴趣的人一起来做。</span>

    </div>
</div>

<div class="sep20"></div>


{% endblock %}

