{% extends "layout.html" %}

{% import "blocks.html" as blocks %}

{% block rightbar_block %}
        {{super()}}
        {{blocks.rightbar_intros_block(intros)}}
        {{blocks.rightbar_feedback_block()}}
{%endblock%}

{% block middlebar_block %}
        <!--提醒-->
        {{ blocks.notification_block() }}


    {%if wordpress_alias_list%}
        <div class="box">
            <div class="cell"><strong>已绑定的rss列表:</strong></div>
            <div class="inner">
            <ol>
                {%for x in wordpress_alias_list%}
                <li>{{x.alias}}</li>
                {%endfor%}
            </ol>
            </div>
        </div>
        <div class="sep10"></div>
    {%endif%}

    {% if step == '1'%}
        <div class="box">
            <div class="cell"><strong>绑定rss地址</strong></div>
            <div id="feed1" class="inner"><table>
                <tr height="40px">
                    <td width="300px" align="right"><span class="">你的wordpress feed地址：</span></td>
                    <td width="380px" align="left">
                        <input type="text" class="sl" name="wordpress_feed" value=""></input>
                        <div class="sep3"></div>
                        <span class="tip smaller text-info">比如: http://xxblog.com/feed/, 填写后不可更改</span> 
                    </td>
                </tr>
                <tr height="30px"><td align="right"><span class=""></span></td>
                    <td> <input type="submit" name="bind_wordpress" value="确定绑定"></input> </td>
                </tr>
            </table></div>
        </div>
    {%else%}
        <div class="box">
            <div class="cell"><strong>绑定rss地址</strong> &gt; 等待验证...</div>
            <div id="feed2" class="inner">
            <p>你的blog feed地址为：<span id="feed2_1" class="">{{feed_uri}}</span></p>
            <p>你的blog认领验证码为：<span id="feed2_0" class="">{{random_id}}</span></p>
            <p class="text-info">为了验证blog的主人^^，请发一篇blog，"文章内容"为 {{random_id}}，完成该步骤后，请点下一步完成绑定</p>
            <input type="submit" name="confirm_bind_wordpress" value="下一步"></input>
            </div>
        </div>
    {%endif%}
        
        <div class="sep10"></div>
        <div class="box">
            <div class="inner">
                <p>0. 如果你在绑定过程中遇到任何问题，请直接给管理员捎个话 help@thepast.me，我想没有解决不了的问题^^</p>
                <p>1. 理论来说，支持导入所有的rss feed，而不仅仅是wordpress，注意尽量不要用feedburner的rss地址</p>
                <p>2. 对于wordpress rss feed来讲，只能导入最近的15篇文章，如果需要导入更多，需要去wordpress的控制面板中设置rss输出的文章数目。</p>
            </div>
        </div>

    <script language="javascript">
        jQuery(function() {
            jQuery("input[name='bind_wordpress']").bind("click", function(){
                var feed_uri = jQuery("input[name='wordpress_feed']").val();
                jQuery.post("/bind/wordpress", {'_r':Math.random(), 'feed_uri':feed_uri}, function(data){
                    if(data.ok === 'true'){
                        window.location="/bind/wordpress";
                    }else{
                        alert(data.msg);
                    }
                }, "json");
                return false;
            });

            var c = jQuery("input[name='confirm_bind_wordpress']");
            c.bind("click", function(){
                c.val("正在验证中... 可能需要1分钟，请不要刷新页面");
                jQuery.post("/bind/wordpress", {'_r':Math.random()}, function(data){
                    c.val("下一步");
                    if(data.ok === 'true'){
                        alert(data.msg);
                        window.location = "/bind/wordpress";
                    }else{
                        alert(data.msg);
                    }
                }, 'json');
            });

        });
    </script>

{% endblock %}
