{% extends "layout.html" %}

{% block content_block %}

    <!-- 个人杂志计划简介 -->
    <div class="sep3"></div>
    <div class="row">
        <div class="span10 offset1">
        <div class="well">
            <h4>你好，旧时光<sup><a target="_blank" href="https://github.com/laiwei/thepast">[开源]</a></sup></h4>
            <blockquote>实时聚合你在“豆瓣”、“人人”、“新浪微博”、“腾讯微博”、“Twitter”、“wordpress”、“instagram”等平台的 Timeline。</blockquote>
            <blockquote>每天清晨，会邮件提醒你过往的今天都发生了些什么，或许是惊喜，亦或是怀念。</blockquote>
            <blockquote>聚合后的Timeline，生成PDF<sup><a target="_blank" href="/demo-pdf">[预览]</a></sup>版本,供离线阅读或永久保存，打造你自己的个人杂志。</blockquote>
            <blockquote>同步更新微博到多个平台。</blockquote>
            <blockquote>猛击头部<strong>任一图标</strong>授权登录!<sup>
            <a target="_blank" href="https://github.com/laiwei/thepast#readme">[？]</a></sup>

            重要提示：多平台绑定步骤，首页---点击任一图标授权登录---再点击<strong>个人信息框内的灰色图标</strong>进行授权。</blockquote>
        </div>
    </div>
    </div>

    <div class="row">
      <!-- 用户循环开始 输出16个 -->
      <div class="span10 offset1">
      {% for u in users %}
      <div class="member">
          <div class="avatar">
              <a href="/user/{{u.id}}"><img src="{{u.get_icon_url()}}" alt="{{u.name}}"></a>
          </div>
          <div class="entry">
              <div class="name"><a href="/user/{{u.id}}">{{u.name}}</a>
                  {%if u.is_pdf_ready()%}
                      <sup><a target="_blank" href="/{{u.id}}/pdf">[PDF]</a></sup>
                  {%endif%}
                  <span><i>N.{{u.id}}</i></span>
              </div>
              <span>
              {%for ua in u.get_alias()%}
                  {%set homepage_info = ua.get_homepage_url()%}
                  {%if homepage_info%}
                      <span class="from {{homepage_info[2]}} oauth">
                      <a title="访问 Ta 的{{homepage_info[0]}}" href="{{homepage_info[1]}}"></a>
                      </span>
                  {%endif%}
              {%endfor%}
              </span>
          </div>
      </div> <!--end of member-->
      {% endfor %}
      <!-- 用户循环结束 -->
    </div>

{%endblock%}

