<html>

<head>
<meta charset="utf-8">
<title>{%block title_block%} The Past of Me | 个人杂志计划{%endblock%}</title>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/default.css?v=1.11">
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<!-- 
<script src="{{ url_for('static', filename='js/jquery.magnifier.js') }}" type="text/javascript"></script>
-->
</head>

<body>

{% import "blocks.html" as blocks %}

<div id="head"> 
    {% block head_block %}
        <div id="site">
            <div id="logo" class="fl"><h1><a href="/home">ThePast.Me</a><h1></div>

            {%if not g.user%}
                <!-- 授权平台图标导航 -->
                {{blocks.connect_block()}}
            {%elif user and g.user.id == user.id %}
                <!-- 自己的个人信息框 -->
                {{blocks.people_info_block(g.user, g.unbinded)}}
            {%else%}
                <!-- 其他用户的个人信息框 -->
                {{blocks.people_info_block(user, [])}}
            {%endif%}

            {%block mini_navi_block%}
                <div class="mini_navi">
                    <ul>
                        <a href="/i">首页</a>
                        <a href="/past">我的过去</a>
                        <a href="/user">浏览发现</a>
                        <a href="/visual">时间线</a>
                        <a href="/bind/wordpress">绑定blog</a>
                        <a href="/settings">设置</a>
                    </ul>
                </div>
            {%endblock%}
        </div>
    {%endblock%}
</div>

<div id="main">
    {% block main_block %}
        <div id="content"> 
            {%block content_block %}
            {% endblock%}
        </div>
    {% endblock %}
</div>

<div id="footer">
    {%block footer_block%}
       <div class="sep5"></div>
       <a class="dark" href="https://github.com/laiwei/thepast"> github主页 </a> &nbsp;&nbsp;
       <a class="dark" href="/logout"> Logout</a> &nbsp;&nbsp;
       <a class="dark" href="/about"> About </a> &nbsp;&nbsp;

       <div class="sep10"></div>
       <span class="fade">
           记录自己的过去... &nbsp;&nbsp
           copyright thepast.me && You
       </span>
       <div class="sep10"></div>
       <div class="sep5"></div>
       <small>
           <script src="http://s17.cnzz.com/stat.php?id=3877715&web_id=3877715" language="JavaScript"></script>
           VERSION:0.0.1
       </small>
   {% endblock %}
</div>

</body>

</html>
