{% extends "layout.html" %}

{% block content_block %}
<div class="box">
    <div class="cell">
        <span class="bigger">Login</span>
        <div class="sep10"></div>
    </div>

    <div class="inner">
    <span class="fade">thePast只支持使用第三方的帐号来登录，比如豆瓣(推荐)，twitter，新浪微博...， 选择其中的一个帐号登录后，可以选择和另外几个帐号绑定，这样thePast.me就能定期同步你在多处的记录了。</span>
    <span class="fade">ps: thePast现在不会，将来也不会做单独的用户注册功能</span>
    <div class="sep10"></div>

    <ul>
    <ol><strong><a class="dark" href="/connect/douban">使用豆瓣登录</a></strong></ol>
    <ol><a class="dark" href="/connect/douban">使用twitter登录</a></ol>
    <ol><a class="dark" href="/connect/douban">使用新浪微博登录</a></ol>
    </ul>
    <div class="sep10"></div>
    </div>
</div>

<div class="sep20"></div>


{% endblock %}

