{% extends "layout.html" %}

{% block content_block %}
<div class="box">
    <div class="cell">
        <span class="bigger">Login</span>
    </div>
    
    <div class="inner">
    <b>新功能</b>： 现在可以把你的timeline转换为PDF了，也可以下载PDF版本到你的Pad，PC，离线查阅，<a href="/pdf">猛击体验</a>
    <div class="sep20"></div>
    thePast只支持使用第三方的帐号来登录，比如豆瓣(推荐)，twitter，新浪微博...
    <div class="sep10"></div>
    选择其中的一个帐号登录后，可以选择和另外几个帐号绑定，这样thePast.me就能定期同步你在多处的记录了.
    <div class="sep10"></div>

    <b>PS:</b> 
    <ol>
        <li>个人杂志计划是开源项目，源代码可以在<a href="https://github.com/laiwei/thepast">github</a>上查看</li>
        <li>使用第三方网站帐号登录thepast.me，采用的是OAuth协议，thepast.me不会记录个人的任何隐私数据</li>
    </ol>
    <div class="sep20"></div>

    <ul>
        <li><strong><a class="dark" href="/connect/douban">使用豆瓣登录</a></strong></li>
        <div class="sep10"></div>
        <li><a class="dark" href="/connect/twitter">使用twitter登录</a></li>
        <div class="sep10"></div>
        <li><a class="dark" href="/connect/sina">使用新浪微博登录</a></li>
    </ul>
    <div class="sep10"></div>
    </div>
</div>

<div class="sep20"></div>


{% endblock %}

