{% extends "layout.html" %}

{% block content_block %}
<div class="box">
    <div class="cell">
        <span class="bigger">Login</span>
    </div>
    
    <div class="inner">
    <b>新功能</b>： 现在可以把你的timeline转换为PDF了，也可以下载PDF版本到你的Pad，PC，离线查阅，<a href="/pdf">猛击体验</a>
    <div class="sep20"></div>
    thePast只支持使用第三方的帐号来登录，比如豆瓣，twitter，新浪微博, 腾讯微博...
    <div class="sep10"></div>
    选择其中的一个帐号登录后，可以选择和另外几个帐号绑定，这样thePast.me就能定期同步你在多处的记录了.
    <div class="sep10"></div>

    <b>PS:</b> 
    <ol>
        <li>个人杂志计划是开源项目，源代码可以在<a href="https://github.com/laiwei/thepast">github</a>上查看</li>
        <li>使用第三方网站帐号登录thepast.me，采用的是OAuth协议，thepast.me不会记录个人的任何隐私数据</li>
    </ol>
    <div class="sep20"></div>

    <ul>
        <li><a class="dark" href="/connect/douban">使用豆瓣登录</a></li>
        <div class="sep10"></div>
        <li><a class="dark" href="/connect/twitter">使用twitter登录</a></li>
        <div class="sep10"></div>
        <li><a class="dark" href="/connect/sina">使用新浪微博登录</a></li>
        <div class="sep10"></div>
        <li><a class="dark" href="/connect/qq">使用腾讯微博登录</a></li>
    </ul>
    <div class="sep10"></div>
    </div>
</div>

<div class="sep20"></div>

<div class="box">
    <div class="cell">
        <span class="bigger">ChangeList:</span>
    </div>
    <div class="inner">

    一直在变好...
    <div class="sep10"></div>
    <ul>
        <li>2012-02-24: 支持同步<a href="/connect/qq">腾讯微博</a>(使用腾讯微博的朋友看过来^^)</li>
        <div class="sep3"></div>
        <li>2012-02-22: 屏蔽搜索引擎收录(因为隐私还是很重要的)</li>
        <div class="sep3"></div>
        <li>2012-02-18: 加cache，使用redis充当memcache，提高访问速度，降低机器负载</li>
        <div class="sep3"></div>
        <li>2012-02-17: 优化PDF文件的下载效率，使用nginx来承担文件下载任务</li>
        <div class="sep3"></div>
        <li>2012-02-16: 优化代码解决生成PDF的效率（因为内存不够用了^^）</li>
        <div class="sep3"></div>
        <li>2012-02-15: 增加了<a href="/user">个人杂志计划成员展示页</a></li>
        <div class="sep3"></div>
        <li>2012-02-14: 在<a href="http://www.v2ex.com/t/27114">v2ex社区介绍个人杂志计划</a>，共有40人加入！</li>
        <div class="sep3"></div>
        <li>2012-02-13: 增加保存个人内容为排版后的PDF功能</li>
        <div class="sep3"></div>
        <li>2012-02-12: 开源项目，个人杂志计划上线</li>
        <div class="sep3"></div>
    </ul>
    </div>
</div>

{% endblock %}

