{% extends "layout.html" %}

{% import "blocks.html" as blocks %}

{% block content_block %}
    <div id="sidebar"></div>
    <div id="rightbar">
        {{blocks.rightbar_intros_block(intros)}}

        {{blocks.rightbar_feedback_block()}}
    </div>

    <div id="middlebar">
        <!--提醒-->
        {{ blocks.notification_block() }}
        
        <div class="box">
            <div class="inner"><a href="/i">首页</a> &gt; 文章</div>
        </div>
        <div class="sep10"></div>
        <!--single post-->
        <div class="box">
            <div class="cell">
                {{status.title}}
                <div class="sep3"></div>
                <span class="fade">{{status.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</span>
            </div>
            <div class="inner"><div id="post">{{status.text|safe}}</div></div>
        </div>
    </div>
{% endblock %}
