{% extends "layout.html" %}

{% import "blocks.html" as blocks %}

{% block content_block %}
    <div id="sidebar"></div>
    <div id="rightbar">
        {{blocks.rightbar_intros_block(intros)}}
        <div class="sep10"></div>
        {{blocks.rightbar_feedback_block()}}
    </div>

    <div id="middlebar">
        <!--提醒-->
        {{ blocks.notification_block() }}

        <!--设置email-->
        <div class="box">
            <div class="cell"><a href="/i">首页</a> &gt; 设置</div>
            <form method="post">
            <div class="inner"><table>
                <tr height="30px"><td width="100px" align="right"><span class="fade">user_id：</span></td>
                    <td width="180px" align="left">{{g.user.id}}</td>
                </tr>
                <tr height="30px"><td align="right"><span class="fade">注册时间：</span></td>
                    <td align="left">{{g.user.create_time}}</td>
                </tr>
                {% if wordpress_alias %}
                <tr height="30px">
                    <td width="200px" align="right"><span class="fade">你的wordpress feed地址：</span></td>
                    <td width="280px" align="left"> {{wordpress_alias.alias}} </td>
                </tr>
                {% endif%}
                <tr height="40px"><td align="right"><span class="fade">电子邮件：</span></td>
                    <td>
                        <input type="text" class="sl" name="email" value="{{g.user.get_email()}}"></input> 
                        <div class="sep3"></div>
                        <span class="fade smaller">定期发送更新好的PDF版本和历史上的今天提醒<br/>(建议把help@thepast.me添加到你的邮件联系人中)</span>
                    </td>
                </tr>
                <tr height="30px"><td align="right"><span class="fade"></span></td>
                    <td> <input type="submit" value="保存设置"></input> </td>
                </tr>
            
            </table></div>
            </form>
        </div>

        <div class="sep20"></div>
        <div class="box">
            <div class="cell">邮件提醒</div>
            <div class="cell"><span class="fade">thepast会通过email提醒一些与你有关的事情</span></div>
            <div class="inner"><table>
                <form action="/settings/email_remind" method="post">
                <tr height="30px">
                    <td width="180px" align="left"></td>
                    <td width="100px" align="left">接受</td>
                    <td width="100px" align="left">不接受</td>
                </tr>
                <tr height="30px">
                    <td><span class="fade">历史上的今天</span></td>
                    {%set s = g.user.get_profile_item("email_remind_today_in_history")%}
                    <td> <input type="radio" name="today_in_history" {%if s!="N" %}checked{%endif%} value="Y"></input>  </td>
                    <td> <input type="radio" name="today_in_history" {%if s=="N" %}checked{%endif%} value="N"></input>  </td>
                </tr>
                <tr height="30px">
                    <td></td>
                    <td><input type="submit" value="修改提醒设置"></input></td>
                    <td></td>
                </tr>
                </form>
            </table></div>
        </div>

        <div class="sep20"></div>
        <div class="box">
            <div class="cell">隐私设置</div>
            <div class="cell"><span class="fade">你个人在thepast的信息只有登录用户可以查看，你可以选择修改为仅自己可见</span></div>
            <div class="inner"><table>
                <form action="/settings/privacy" method="post">
                <tr height="30px">
                    {%set p = g.user.get_profile_item("user_privacy")%}
                    <td width=200px> 
                        <input type="radio" name="privacy" {%if not p or p==consts.USER_PRIVACY_PUBLIC %}checked{%endif%} 
                            value="{{consts.USER_PRIVACY_PUBLIC}}">公开</input>
                    </td>
                    <td width=200px> 
                        <input type="radio" name="privacy" {%if p==consts.USER_PRIVACY_THEPAST %}checked{%endif%} 
                            value="{{consts.USER_PRIVACY_THEPAST}}">登录用户可见</input>
                    </td>
                    <td width=200px> 
                        <input type="radio" name="privacy" {%if p==consts.USER_PRIVACY_PRIVATE %}checked{%endif%} 
                            value="{{consts.USER_PRIVACY_PRIVATE}}">仅自己可见</input>  
                    </td>
                </tr>
                <tr height="30px">
                    <td><input type="submit" value="修改隐私设置"></input></td>
                    <td></td>
                </tr>
                </form>
            </table></div>
        </div>

    </div>
{% endblock %}
