{% extends "layout.html" %}

{% import "blocks.html" as blocks %}

{% block content_block %}
    <div id="sidebar"></div>
    <div id="rightbar">
        {{blocks.rightbar_note_block()}}
        {{blocks.rightbar_feedback_block()}}
    </div>

    <div id="middlebar">
        <div class="box">
            <div class="inner"><a href="/i">首页</a> &gt; <a href="/share">同步消息到多个第三方</a></div>
        </div>
        <div class="sep10"></div>
        <!--提醒-->
        {{ blocks.notification_block() }}
        
        <div class="box">
            <form action="/share" method="post">
                {%if first%}
                <div class="cell">
                    把thepast分享给朋友们:
                </div>
                {%endif%}
                <div class="inner">
                    {%if first%}
                    <textarea id="status_post_content" name="text">{{config.WELCOME_MSG_DICT.get("S", "")}}</textarea>
                    {%else%}
                    <textarea id="status_post_content" name="text">{{text or "说点什么..."}}</textarea>
                    {%endif%}
                </div>
                
                <div class="inner">
                    <label class="fade">第三方：</label>
                    {%for s in sync_list%}
                    <label><input type="checkbox" name="provider" value="{{s[0]}}" 
                        {%if s[1] == "Y"%}checked{%endif%}></input>
                        <span class="fade">{{config.OPENID_TYPE_NAME_DICT[s[0]]}}</span></label>&nbsp;&nbsp;&nbsp;
                    {%endfor%}
                </div>

                <div class="inner">
                    <input type="submit" name="submit"  class="btn" value="发表"></input>
                </div>
            </form>
        </div>
    </div>
    <script>
    </script>
{% endblock %}
