{% macro douban_status(s, pdf=False) -%}
    <!-- 正文 -->
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary}}
    {%endif%}


    <!-- 附件 -->
    {%set atts = s.get_data() and s.get_data().get_attachments()%}
    {%if atts%}
        {%for att in atts%}
        <div class="quote">
            <span class="inq">
            {%if pdf%}
                <div class='tip'><span class="fade">
                    {{att.get_title()|wrap_long_line}}
                    {{att.get_description()|wrap_long_line}}
                </span></div>
            {%else%}
                <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
                <div class="sep3"></div>
                {{att.get_description()}}
            {%endif%}
            </span>
        </div>
        {%endfor%}
    {%endif%}

    <!-- retweeted -->
    {% set re = s.get_retweeted_data() %}
    {% if re %}
        {%if pdf%}
            {{re.get_content()|wrap_long_line}}
        {%else%}
            {{re.get_content()}}
        {%endif%}

        {%set atts = re.get_attachments()%}
        {%if atts%}
            {%for att in atts%}
            <div class="quote">
                <span class="inq">
                {%if pdf%}
                    <div class='tip'><span class="fade">
                        {{att.get_title()|wrap_long_line}}
                        {{att.get_description()|wrap_long_line}}
                    </span></div>
                {%else%}
                    <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
                    <div class="sep3"></div>
                    {{att.get_description()}}
                {%endif%}
                </span>
            </div>
            {%endfor%}
        {%endif%}

        {% set images = re.get_images() or [] %}
        {% if images %}
            {%for image in images%}
                <div class="sep3"></div>
                <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
            {%endfor%}
        {% endif %}

    {% endif %}

    <!-- 图片 -->
    {% set images = s.get_data().get_images() or [] %}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
    
{%- endmacro %}


{% macro sina_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary}}
    {%endif%}

    {% set images = s.get_data().get_images() or [] %}
    {% set re = s.get_retweeted_data() %}
    {% set re_images = re and re.get_images() or [] %}
    {% set images = images + re_images %}
    {% if re %}
        {%set re_text = "//@" + re.get_user().get_nickname() + " " + re.get_content() %} 
        {%if pdf%}
            <div class='tip'><span class="fade">
                {{re_text|wrap_long_line}}
            </span></div>
        {%else%}
            <div class="quote">
                <span class="inq">{{re_text}}</span>
            </div>
        {%endif%}
    {% endif %}

    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}

{%- endmacro %}

{% macro twitter_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary}}
    {%endif%}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro qq_weibo_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line|safe}}
    {%else%}
        {{s.summary|safe}}
    {%endif%}

    {% set re = s.get_retweeted_data() %}
    {% if not s.summary and re %}
        {%if pdf%}
        {{ ("//" + re)|wrap_long_line }} 
        {%else%}
        {{ "//" + re}} 
        {%endif%}
    {% endif %}

    {% set images = s.get_data().get_images() or [] %}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro wordpress_status(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    <a href="{{origin_uri[1]}}">{{s.title}}</a><br/>
    {%if pdf%}
        {{s.text}}
    {%else%}
        {{s.summary}}
        <a href="/post/{{s.id}}">&nbsp;read more</a>
    {%endif%}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}
