{% macro douban_status(s, pdf=False) -%}
    <!-- 正文 -->
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary}}
    {%endif%}


    <!-- 附件 -->
    {%set data = s.get_data()%}
    {%set atts = data and data.get_attachments()%}
    {%if atts%}
        {%for att in atts%}
        <div class="quote">
            <span class="inq">
            {%if pdf%}
                <div class='tip'><span class="">
                    {{att.get_title()|wrap_long_line}}
                    {{att.get_description()|wrap_long_line}}
                </span></div>
            {%else%}
                <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
                <div class="sep3"></div>
                {{att.get_description()}}
            {%endif%}
            </span>
        </div>
        {%endfor%}
    {%endif%}

    <!-- retweeted -->
    {% set re = s.get_retweeted_data() %}
    {% if re %}
        {% set re_user = re.get_user() %}
        {% if re_user %}
            //@{{re_user.get_nickname()}}:
        {% endif %}

        {%if pdf%}
            {{re.get_content()|wrap_long_line}}
        {%else%}
            {{re.get_content()}}
        {%endif%}

        {%set atts = re.get_attachments()%}
        {%if atts%}
            {%for att in atts%}
            <div class="quote">
                <span class="inq">
                {%if pdf%}
                    <div class='tip'><span class="">
                        {{att.get_title()|wrap_long_line}}
                        {{att.get_description()|wrap_long_line}}
                    </span></div>
                {%else%}
                    <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
                    <div class="sep3"></div>
                    {{att.get_description()}}
                {%endif%}
                </span>
            </div>
            {%endfor%}
        {%endif%}

        {% set images = re.get_images() or [] %}
        {% if images %}
            {%for image in images%}
                <div class="sep3"></div>
                <img src="{{image}}" data-magnifyto="400" class="magnify" border="0"></img>
            {%endfor%}
        {% endif %}

    {% endif %}

    <!-- 图片 -->
    {% set data = s.get_data()%}
    {% set images = data and data.get_images() or [] %}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
    
{%- endmacro %}


{% macro sina_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line}}
        {%set img_size="middle"%}
    {%else%}
        {%set img_size="origin"%}
        {{s.summary}}
    {%endif%}

    {% set data = s.get_data()%}
    {% set images = data and data.get_images(img_size) or [] %}
    {% set re = s.get_retweeted_data() %}
    {% set re_images = re and re.get_images(img_size) or [] %}
    {% set images = images + re_images %}
    {% if re %}
        {%set re_text = "//@" + re.get_user().get_nickname() + " " + re.get_content() %} 
        {%if pdf%}
            <div class='tip'><span class="">
                {{re_text|wrap_long_line}}
            </span></div>
        {%else%}
            <div class="quote">
                <span class="inq">{{re_text}}</span>
            </div>
        {%endif%}
    {% endif %}

    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}

{%- endmacro %}

{% macro twitter_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary}}
    {%endif%}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro qq_weibo_status(s, pdf=False) -%}
    {%if pdf%}
        {{s.summary|wrap_long_line}}
    {%else%}
        {{s.summary|safe}}
    {%endif%}

    {% set re = s.get_retweeted_data() %}
    {% if re %}
        {%if pdf%}
        {{ ("//" + re.get_user().get_nickname() + ":" + re.get_content())|wrap_long_line|safe }} 
        {%else%}
        {{ ("//" + re.get_user().get_nickname() + ":" + re.get_content())|safe}} 
        {%endif%}
    {% endif %}

    {% set data = s.get_data()%}
    {% set images = data and data.get_images() or [] %}
    {%if re%}
        {%set images = images + (re.get_images() or [])%}
    {%endif%}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{s.get_origin_uri() and s.get_origin_uri()[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro wordpress_status(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    <a href="/post/{{s.id}}">{{s.title}}</a>
    {%if pdf%}
        {{s.text}}
    {%endif%}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro thepast_note_status(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    <a href="{{origin_uri[1]}}">{{s.title}}</a>
    {%if pdf%}
        {{s.text}}
    {%endif%}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro thepast_renren_status(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    {{s.text}}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro thepast_renren_blog(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    <a href="http://thepast.me/post/{{s.id}}">{{s.title}}</a>
    <p>
    {%if pdf%}
        {{s.text}}
    {%else%}
        {{s.summary}}
    {%endif%}
    </p>

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro thepast_renren_photo(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    {{s.title}}

    {% set data = s.get_data()%}
    {% set images = data and data.get_images() or [] %}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro thepast_default_status(s, pdf=False) -%}
    {% set origin_uri = s.get_origin_uri() %}
    {{s.title}}

    {% set data = s.get_data()%}
    {% set images = data and data.get_images() or [] %}
    {% if images %}
        {%for image in images%}
            <div class="sep3"></div>
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify" border="0"/>
        {%endfor%}
    {% endif %}

    {{s.text}}

    {%if pdf%}
        <div class="time">
        From: {{origin_uri[0]}} {{s.create_time.strftime("%Y-%m-%d %H:%M:%S")}}</div>
    {%endif%}
{%- endmacro %}

{% macro story_unit(g, repeated_status, sync_list=None) -%}
    <!-- 图片 -->
    {% set s = repeated_status.status_list[0]%}
    {% set data = s.get_data()%}
    {% set atts = data and data.get_attachments() or []%}
    {% set images = data and data.get_images() or [] %}

    {% set thepast_user = s.get_thepast_user()%}
    {% set thirdparty_profile = thepast_user and thepast_user.get_thirdparty_profile(s.site)%}
    {% if s.site == 'R'%}
        {% set user_nickname = thepast_user and thepast_user.name %}
    {% else%}
        {% set user_nickname = thepast_user and (thirdparty_profile.get("name") 
            or thirdparty_profile.get("uid") or thepast_user.name) %}
        {% if user_nickname == 'null'%}
            {% set user_nickname = thepast_user and thepast_user.name %}
        {% endif%}
    {%endif%}
    {% set avatar = thepast_user 
        and (thirdparty_profile.get("avatar") or thepast_user.get_avatar_url())%}

    {% set re_ = s.get_retweeted_data()%}
    {% set re_atts = re_ and re_.get_attachments() or []%}
    {% set re_images = re_ and re_.get_images() or [] %}
    {% set re_user = re_ and re_.get_user() or ""%}
    {% set re_user_nickname = re_user if re_user|isstr else re_user.get_nickname()%}

    <i class="pointer"></i>
    <div class="unit">
      
      <!-- Story -->
      <div class="storyUnit" id="story-{{s.id}}">
        <div class="imageUnit">
          {%if avatar%}
          <a href="{{avatar}}"><img src="{{avatar}}" width="32" height="32" alt="{{user_nickname}}"></a>
          {%endif%}
          <div class="imageUnit-content">
            <p><a href="/user/{{thepast_user.id}}" >{{user_nickname}}</a></p>
            <p class="time">
                {{s.create_time|stream_time}} 
                <span class="recollect"><a href="#" onclick="javascript:fn_repost_modal('{{s.id}}'); return false;">&nbsp;旧时重提</a></span></p>
          </div>

          <div class="pull-right">
            {%for s_ in repeated_status.status_list%}
                {%set from_ = s_.get_origin_uri()%}
                {%if from_%}
                    <span class="from {{from_[0]}} oauth"><a target="_blank" href="{{from_[1]}}"></a></span>
                {%endif%}
            {%endfor%}
          </div>
        </div>
      
        {%if s.title%}
        <div>
            <a href="/post/{{s.id}}">{{s.title}}</a>
        </div>
        {%endif%}
        <p class="summary">{{s.summary|safe}}</p>
        
        {%for att in atts%}
        <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
        <p>{{att.get_description()}}</p>
        {%endfor%}

        {%if re_user_nickname and re_.get_content()%}
        <span>
            //@{{re_user_nickname}}: {{re_.get_content()|safe}}
        </span>
        {% endif %}

        {%for att in re_atts%}
        <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
        <p>{{att.get_description()|safe}}</p>
        {%endfor%}
      
        {% if images or re_images%}
        <div class="photoUnit">
        {%for image in images%}
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify post-image" style="height:200px;"/>
        {%endfor%}
        {%for image in re_images%}
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify post-image" style="height:200px;"/>
        {%endfor%}
        </div>
        {% endif %}
      <!-- / Story -->
      
    </div>

    <div id="modal_reshare_{{s.id}}" class="modal hide fade" 
        tabindex="-1" aria-labelledby="modal-label-reshare" aria-hidden="false">
        <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <h3 id="modal-label-reshare">旧事重提</h3>
        </div>
        <div class="modal-body">
            <textarea rows=4 style="width:100%;"></textarea>
            <ul class="thumbnails"> </ul>
            {%if sync_list%}
            {%for s in sync_list%}
            <label class="checkbox inline">
                <input type="checkbox" name="provider" value="{{s[0]}}" 
                    {%if s[1] == "Y"%}checked{%endif%}>
                {{g.config.OPENID_TYPE_NAME_DICT[s[0]]}}
            </label>
            {%endfor%}
            {%endif%}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" data-dismiss="modal" onclick="javascript:fn_repost_status({{s.id}})">确定</button>
        </div>
    </div>
{%- endmacro %}

{% macro story_show(g, repeated_status, sync_list=None) -%}
    <!-- 图片 -->
    {% set s = repeated_status.status_list[0]%}
    {% set data = s.get_data()%}
    {% set atts = data and data.get_attachments() or []%}
    {% set images = data and data.get_images() or [] %}

    {% set thepast_user = s.get_thepast_user()%}
    {% set thirdparty_profile = thepast_user and thepast_user.get_thirdparty_profile(s.site)%}
    {% if s.site == 'R'%}
        {% set user_nickname = thepast_user and thepast_user.name %}
    {% else%}
        {% set user_nickname = thepast_user and (thirdparty_profile.get("name") 
            or thirdparty_profile.get("uid") or thepast_user.name) %}
        {% if user_nickname == 'null'%}
            {% set user_nickname = thepast_user and thepast_user.name %}
        {% endif%}
    {%endif%}
    {% set avatar = thepast_user 
        and (thirdparty_profile.get("avatar") or thepast_user.get_avatar_url())%}

    {% set re_ = s.get_retweeted_data()%}
    {% set re_atts = re_ and re_.get_attachments() or []%}
    {% set re_images = re_ and re_.get_images() or [] %}
    {% set re_user = re_ and re_.get_user() or ""%}
    {% set re_user_nickname = re_user if re_user|isstr else re_user.get_nickname()%}
    
    <!-- 两种 class="show pic" 与 class="show nopic" 区分，-->
    {%if images or re_images%}
    <div class="show pic" id="story-{{s.id}}">
        <!-- 图片微博 -->
        {%for image in images%}
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify post-image"/>
        {%endfor%}
        {%for image in re_images%}
            <img src="{{image}}" alt="" data-magnifyto="400" class="magnify post-image"/>
        {%endfor%}
    {%else%}
    <div class="show nopic" id="story-{{s.id}}">
        <!-- 纯文字 -->
    {%endif%}
        <p>
            <h5><a href="/post/{{s.id}}">{{s.title}}</a></h5>
            <span class="summary">{{s.summary}}</span>
            
            {%for att in atts%}
            <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
            <p>{{att.get_description()}}</p>
            {%endfor%}

            {%if re_user_nickname and re_.get_content()%}
            <span>
                //@{{re_user_nickname}}: {{re_.get_content()}}
            </span>
            {% endif %}

            {%for att in re_atts%}
            <a href="{{att.get_href()|safe}}">{{att.get_title()}}</a>
            <p>{{att.get_description()}}</p>
            {%endfor%}
        </p>

        <div class="show_info">
            <p>发布于 {{s.create_time}}</p>
            <p>
                {%for s_ in repeated_status.status_list%}
                      {%set from_ = s_.get_origin_uri()%}
                      {%if from_%}
                          <span class="from {{from_[0]}} oauth"><a target="_blank" href="{{from_[1]|safe}}"></a></span>
                      {%endif%}
                {%endfor%}
                <a class="pull-right" href="#" onclick="javascript:fn_repost_modal('{{s.id}}'); return false;">
                    <i class="icon-share"></i>recollect</a>
            </p>
        </div>
    </div>

    <div id="modal_reshare_{{s.id}}" class="modal hide fade" 
        tabindex="-1" aria-labelledby="modal-label-reshare" aria-hidden="false">
        <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <h3 id="modal-label-reshare">旧事重提</h3>
        </div>
        <div class="modal-body">
            <textarea rows=4 style="width:100%;"></textarea>
            <ul class="thumbnails"> </ul>
            {%if sync_list%}
            {%for s in sync_list%}
            <label class="checkbox inline">
                <input type="checkbox" name="provider" value="{{s[0]}}" 
                    {%if s[1] == "Y"%}checked{%endif%}>
                {{g.config.OPENID_TYPE_NAME_DICT[s[0]]}}
            </label>
            {%endfor%}
            {%endif%}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" data-dismiss="modal" onclick="javascript:fn_repost_status({{s.id}})">确定</button>
        </div>
    </div>
{%- endmacro %}

