{% extends "layout.html" %}

{% block content_block %}
<div class="box">
    <div class="cell">
        <span class="bigger">这里可以有一些汇总信息</span>
        <div class="sep10"></div>
        正文
    </div>

    <div class="cell">
        <table><tbody>
        <tr>
        <td valign="top" class="avatar">
        <a href="#"><img src="/static/img/avatar.png" border="0"></a></td>

        <td style="padding-left: 12px" valign="top">

        <div class="fr">
        <a href="#" class="count">17</a>
        </div>

        <div class="sep3"></div>
        <span class="bigger" style="font-size: 16px; line-height: 130%"><a href="#">Python语法很奇怪啊</a></span>
        <div class="sep5"></div>
        <span class="created"><strong><a href="/go/python" class="node">Python</a></strong> &nbsp;•&nbsp; <strong><a href="#" class="dark">vibbow</a></strong> &nbsp;•&nbsp; 116 个字符 &nbsp;•&nbsp; 18 次点击 &nbsp;•&nbsp; 20 minutes ago replied by <a href="/member/levn" class="dark">levn</a></span>
        </td>
        </tr>
        </tbody></table>
    </div>
</div>
{% endblock %}
