{% extends "layout.html" %}

{% import "status.html" as status_tmpl_helper %}
{% import "blocks.html" as blocks %}

{% block css %}
    {{super()}}
    <link href="/static/fbtimeline/stylesheets/timeline.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/fbtimeline/stylesheets/fb-buttons.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js%}
    {{super()}}
    <script src="/static/fbtimeline/javascripts/all.js" type="text/javascript"></script> 
{% endblock %}

{% block title_block %} {{user.name}}{%endblock%}

{%block content_block%}
    <div class="span12">
        {{self.middlebar_block()}}
        <div class="pull-right" style="width:260px; margin:20px 0px auto 9px;">
            {{blocks.rightbar_intros_block(intros)}}
            {{blocks.rightbar_note_block()}}
            {{blocks.rightbar_feedback_block()}}
        </div>
    </div>

{%endblock%}

{% block middlebar_block %}
<div id="timeline-container" class="pull-left">
    <ol class="timeline clearfix">
        <li class="spine"></li>
        
        {%if g.cate == g.config.CATE_THEPAST_NOTE and 0%}
        <li class="left">
            <i class="pointer"><a href="#" onclick="javascript:fn_click_point();" 
                title="Post some thing, get it remindings next year.">&nbsp;</a></i>
            <div class="unit">
                <ol class="actions">
                    <li class="active"><a href="#" rel="Status"><i class="icon icon-status"></i>Status</a></li>
                </ol>
              
                <!-- Units -->
                <div class="actionUnits">
                    <div class="formUnit" id="Status">
                        <i class="active"></i>
                        <textarea name="" placeholder="Post sth, get the remindings next year?" 
                            id="" rows="3" style="width:350px;"></textarea>

                        <ol class="controls clearfix">
                            <li class="post">
                                <button class="uibutton confirm" type="submit">Post</button>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- / Units -->
            </div>
        </li>
        {%set left = False%}
        {%else%}
            {%if not status_list and g.start == 0%}
            <div class="alert alert-info">
                <p>你还没在thepast上写过日记呢。</p>
                <p>今天记录一下 明年再来看。</p>
                <p><a href="/note/create">&gt;写日记</a></p>
            </div>
            {%endif%}
            {%set left = True%}
        {%endif%}

        {%for repeated_status in status_list%}
            {%if left%}
                <li class="left">
            {%else%}
                <li class="right">
            {%endif%}
            <i class="pointer"><a href="#" onclick="javascript:fn_click_point();" title="">&nbsp;</a></i>
            {{status_tmpl_helper.story_unit(g, repeated_status, sync_list)}}
            {%set left = not left%}
            </li>
        {%endfor%}

    </ol>
    <div class="sep10"></div>
    <hr/>
    <ul class="pager">
        {%if g.start>0%}
        <li class="previous">
            <a href="?start={{g.start-g.count if g.start-g.count > 0 else 0}}&cate={{g.cate}}">&larr; Newer</a>
        </li>
        {%endif%}
        <li class="next">
            <a href="?start={{g.start+g.count}}&cate={{g.cate}}">Older &rarr;</a>
        </li>
    </ul>
</div> <!--end of row-fluid-->

<script src="{{ url_for('static', filename='js/jquery.magnifier.js') }}" type="text/javascript"></script>
<script>
    jQuery(function($) {
        $("img").error( function(){$(this).css({ visibility:"hidden" }); });
    });
</script>

<script>
    function fn_click_point(obj){
        //console.log(obj);
    }
</script>

{% endblock %}

