{% extends "layout.html" %}

{% import "blocks.html" as blocks %}

{% block main_block %}

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- CSS -->
<style>
    #timeline {width:100%; height:600px; margin:0px 0px 0px 0px;}
</style>

<div id="timeline"> </div>
<script>
    var timeline_config = {
        width:              '100%',
        height:             '600px',
        source:             '/visual/timeline.json/{{user.id}}/{{g.start}}',
        embed_id:           'timeline',                     //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
        start_at_end:       true,                           //OPTIONAL START AT LATEST DATE
        start_at_slide:     '0',                            //OPTIONAL START AT SPECIFIC SLIDE
        start_zoom_adjust:  '0',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
        hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
        debug:              false,                          //OPTIONAL DEBUG TO CONSOLE
        lang:               'zh-ch',                        //OPTIONAL LANGUAGE
        maptype:            'watercolor',                   //OPTIONAL MAP STYLE
        css:                '/visual/static/css/timeline.css',     //OPTIONAL PATH TO CSS
        js:                 '/visual/static/js/timeline-min.js'    //OPTIONAL PATH TO JS
    };
</script>
<script type="text/javascript" src="/visual/static/js/storyjs-embed.js"></script>

{% endblock %}

