{% extends "v2/base.html" %}
{% import "status.html" as status_tmpl_helper %}
{% import "blocks.html" as blocks_tmpl_helper %}

<!-- 个人&&其他用户最新页  -->
{%block title%}{{user.name}} | 旧时光{%endblock%}

{%block nav_menu_left%}
  <li class="active"><a style="padding-top:12px;" href="explore">发现</a></li>
{%endblock%}

{%block nav_menu_right%}
<li><button id="login_btn" class="btn btn-small" href="#">登录</button></li>
{%endblock%}

{%block hero_unit%}
<div class="row" style="margin-top:5px;">
    <div class="span10 offset1">
        <div class="well" style="border:0px;margin-bottom:5px;">
            <h4>你好，旧时光<sup><a target="_blank" href="https://github.com/laiwei/thepast">[开源]</a></sup></h4>
            <blockquote>实时聚合你在“豆瓣”、“人人”、“新浪微博”、“腾讯微博”、“Twitter”、“wordpress”、“instagram”等平台的 Timeline。</blockquote>
            <blockquote>每天清晨，会邮件提醒你过往的今天都发生了些什么，或许是惊喜，亦或是怀念。</blockquote>
            <blockquote>聚合后的Timeline，生成PDF<sup><a target="_blank" href="/demo-pdf">[预览]</a></sup>版本,供离线阅读或永久保存，打造你自己的个人杂志。</blockquote>
            <blockquote>同步更新微博到多个平台。</blockquote>
        </div>
    </div>
</div>
{%endblock%}

{%block main%}
	<div id="sidebar">
		<div id="user_info" class="side_box">
			<div class="info_profile">
				<div class="avatar">
				    <a href="/{{user.uid}}" title="{{user.name}}" class="img x">
                        <img width="64px" height="64px" src="{{user.get_avatar_url()}}"></a>
				</div>
				<div class="entry">
                    <div class="name"><a href="/{{user.uid}}">{{user.name}}</a></div>
                    <p>
                        <!-- 其他用户展示已绑定平台的图标，点击跳转个平台 -->
                        {%if user.id != g.user.id%}
                            {%for ua in user.get_alias()%}
                                {%set homepage_info = ua.get_homepage_url()%}
                                {%if homepage_info%}
                                    <span class="from {{homepage_info[2]}} oauth">
                                    <a title="访问 Ta 的{{homepage_info[0]}}" href="{{homepage_info[1]}}"></a>
                                    </span>
                                {%endif%}
                            {%endfor%}
                        {%else%}
                            <!-- 个人展示页面未绑定图标灰色：无 "oauth"，点击跳转授权 -->
                            {%set uas = user.get_alias()%}
                            {%for ua in uas%}
                                {%set h = ua.get_homepage_url()%}
                                <span class="from {{h[2]}} oauth">
                                    <a title="访问{{h[0]}}" href="{{h[1]}}" target="_blank">{{h[0]}}</a>
                                </span>
                            {%endfor%}

                            {%if g.unbinded%}
                                {%for ub in g.unbinded%}
                                    <span class="from {{ub[1]}}">
                                        {%if ub[0] == 'W'%}
                                        <a title="绑定wordpress" href="/bind/{{ub[1]}}">{{ub[1]}}</a>
                                        {%else%}
                                        <a title="添加{{ub[2]}}授权登录" href="/connect/{{ub[1]}}">{{ub[1]}}</a>
                                        {%endif%}
                                    </span>
                                {%endfor%}
                            {%endif%}
                        {%endif%}
                    </p>
            	</div>
            </div>
            <!-- 个人简介 -->
            <div class="info_inner">
            	<p>
                {%if intros%}
                    {% for intro in intros%}
                    {% if intro%}
                        {{intro|nl2br|safe}}
                        <br/>
                    {%endif%}
                    {% endfor%}
                {%endif%}
            	</p>
            </div>
        </div>
        <div class="side_box">
            {{blocks_tmpl_helper.rightbar_feedback_block()}}
        </div>
	</div> <!--end of sidebar-->

	<div id="new_bar">
		<h4>你好 . 旧时光</h4>
    </div>

    <div class="new_show">
        {%for repeated_status in status_list%}
            {{status_tmpl_helper.story_show(g, repeated_status, sync_list)}}
        {%endfor%}
    </div>
{%endblock%}

{%block more_js%}
{{super()}}

<script type="text/javascript">
$(function(){
})
</script>
{%endblock%}
