{% extends "v2/timeline_base.html" %}
<!-- 个人&&其他用户最新页  -->
{%block title%}{{user.name}} | 旧时光{%endblock%}

{%block hero_unit%}
<div class="row" style="margin-top:5px;">
    <div class="span12">
        <div class="well" style="border:0px;margin-bottom:5px;">
            <h4>你好，旧时光<sup><a target="_blank" href="https://github.com/laiwei/thepast">[开源]</a></sup></h4>
            <blockquote>实时聚合你在“豆瓣”、“人人”、“新浪微博”、“腾讯微博”、“Twitter”、“wordpress”、“instagram”等平台的 Timeline。</blockquote>
            <blockquote>每天清晨，会邮件提醒你过往的今天都发生了些什么，或许是惊喜，亦或是怀念。</blockquote>
            <blockquote>聚合后的Timeline，生成PDF<sup><a target="_blank" href="/demo-pdf">[预览]</a></sup>版本,供离线阅读或永久保存，打造你自己的个人杂志。</blockquote>
            <blockquote>同步更新微博到多个平台。</blockquote>
        </div>
    </div>
</div>
{%endblock%}

{%block more_js%}
{{super()}}
<script type="text/javascript">
    jQuery("#nav_item_explore").addClass("active");
    jQuery("#nav_item_past").removeClass("active");
    jQuery("#nav_item_note").removeClass("active");
</script>
{%endblock%}
