{% extends "v2/base.html" %}
{% import "status.html" as status_tmpl_helper %}
{% import "blocks.html" as blocks_tmpl_helper %}

{%block css%}
    {{super()}}
    <link href="/static/fbtimeline/stylesheets/timeline.css" media="screen" rel="stylesheet" type="text/css" />
{%endblock%}

{% block js%}
    {{super()}}
    <script src="/static/fbtimeline/javascripts/all.js" type="text/javascript"></script> 
{% endblock %}

{%block sidebar%}
	<div class="span3">
    <div id="sidebar">
        {%block sidebox%}
        <div class="side_box">
            {{blocks_tmpl_helper.rightbar_feedback_block()}}
        </div>
        {%endblock%}

        {%block user_info%}
		<div id="user_info" class="side_box">
			<div class="info_profile">
				<div class="avatar">
				    <a href="/{{user.uid}}" title="{{user.name}}" class="img x">
                        <img width="64px" height="64px" src="{{user.get_avatar_url()}}"></a>
				</div>
				<div class="entry">
                    <div class="name"><a href="/{{user.uid}}">{{user.name}}</a></div>
                    <p>
                        <!-- 其他用户展示已绑定平台的图标，点击跳转个平台 -->
                        {%if user.id != g.user.id%}
                            {%for ua in user.get_alias()%}
                                {%set homepage_info = ua.get_homepage_url()%}
                                {%if homepage_info%}
                                    <span class="from {{homepage_info[2]}} oauth">
                                    <a title="访问 Ta 的{{homepage_info[0]}}" href="{{homepage_info[1]}}"></a>
                                    </span>
                                {%endif%}
                            {%endfor%}
                        {%else%}
                            <!-- 个人展示页面未绑定图标灰色：无 "oauth"，点击跳转授权 -->
                            {%set uas = user.get_alias()%}
                            {%for ua in uas%}
                                {%set h = ua.get_homepage_url()%}
                                <span class="from {{h[2]}} oauth">
                                    <a title="访问{{h[0]}}" href="{{h[1]}}" target="_blank">{{h[0]}}</a>
                                </span>
                            {%endfor%}

                            {%if g.unbinded%}
                                {%for ub in g.unbinded%}
                                    <span class="from {{ub[1]}}">
                                        {%if ub[0] == 'W'%}
                                        <a title="绑定wordpress" href="/bind/{{ub[1]}}">{{ub[1]}}</a>
                                        {%else%}
                                        <a title="添加{{ub[2]}}授权登录" href="/connect/{{ub[1]}}">{{ub[1]}}</a>
                                        {%endif%}
                                    </span>
                                {%endfor%}
                            {%endif%}
                        {%endif%}
                    </p>
            	</div>
            </div>
            <!-- 个人简介 -->
            <div class="info_inner">
            	<p>
                {%if intros%}
                    {% for intro in intros%}
                    {% if intro%}
                        {{intro}}
                        <br/>
                    {%endif%}
                    {% endfor%}
                {%endif%}
            	</p>
            </div>
        </div>
        {%endblock%}
    </div>
	</div> <!--end of sidebar-->
{%endblock%}

{%block rightbar%}
    <div class="span9">
        <div id="rightbar">
            {%if not status_list%}
                <div class="alert alert-success">
                    <p>欢迎加入旧时光，thepast正在从第三方同步你的消息，请稍等（最多5分钟哦）</p>
                    <p>趁着这块空闲，你可以随机看看<a href="/explore">别人的页面</a></p>
                    <p>或者</p>
                    <p>看看<a href="/laiwei/past">laiwei历史上的每天</a></p>
                </div>
            {%else%}
            <ol id="timeline" class="timeline clearfix">
                <li class="spine"></li>
                {%set left = True%}
                {%for repeated_status in status_list%}
                    {%if left%}
                    <li class="left">
                    {%else%}
                    <li class="right">
                    {%endif%}
                    {{status_tmpl_helper.story_unit(g, repeated_status, sync_list)}}
                    </li>
                    {%set left=not left%}
                {%endfor%}
            </ol>
            <div id="loadmore_indicator" class="alert alert-info" style="text-align:center;">正在努力加载更多中...</div>
            {%endif%}
        </div>
    </div>
{%endblock%}

