{% extends "v2/base.html" %}
{% import "status.html" as status_tmpl_helper %}

{%block title%}过往-{{user.name}} | 旧时光{%endblock%}


{%block main%} 
{%if not history_status%}
    <div id="date">
        <p>去年、前年、大前年... 都没有留下什么东西。</p>
        <p>今天记录一下 明年再来看。</p>
    </div>
{%else%}
    {%for t in history_status.keys()|sort(reverse=True)%}
    {%set status_list = history_status.get(t)%}
	<div class="date">
		<h4>{{t.decode("utf8")}}</h4>
		<p>共找到 {{status_list|length}} 条往事。</p>
	</div>
	<div class="home_show">
        {%for repeated_status in status_list%}
            {{status_tmpl_helper.story_show(g, repeated_status, sync_list)}}
        {%endfor%}
	</div>
    <div class="clear"></div>
    {%endfor%}
{%endif%}

{%endblock%}

{%block more_js%}
{{super()}}
<script type="text/javascript">
$(function(){
});
</script>
{%endblock%}
